{% extends 'base.html' %}
{% load static %}
{% block body %}
<h1>Login/Register</h1>
	<!-- ================ end banner area ================= -->

    {%include '_alerts.html' %}
 
						
					<a class="button button-account" href="{% url 'register' %}">Create an Account</a>
					
						<h3>Log in to enter</h3>
						<form class="row login_form" action="{% url 'login' %}" method="post"  >
                            {% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Keep me logged in</label>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button  w-100">Log In</button>
								<a href="#">Forgot Password?</a>
							</div>
						</form>
				
	<!--================End Login Box Area =================-->








{% endblock %}